<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dutyujm.mapper.ThesisMapper">

  <resultMap id="BaseResultMap" type="cn.dutyujm.pojo.Thesis">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="selected" jdbcType="BIT" property="selected" />
    <result column="tid" jdbcType="INTEGER" property="tid" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <association javaType="cn.dutyujm.pojo.Teacher" property="teacher">
      <id column="tid" jdbcType="INTEGER" property="tid" />
      <result column="name" jdbcType="VARCHAR" property="name" />
    </association>



  </resultMap>
  <sql id="Base_Column_List">
    id, title, description, type, selected, tid, start_time, end_time
  </sql>

  <select id="pageThesis" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from thesis limit #{tmp}, #{limit};
  </select>


  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from thesis
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectThesisByName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from thesis
    where thesis.title like CONCAT('%',#{title},'%')
  </select>


  <select id="selectThesisBySid" resultMap="BaseResultMap">
    select id,teacher.name,title,description,thesis.type,thesis.tid,student.name
    from (thesis  join teacher on thesis.tid = teacher.tid ) join student on thesis.id = student.thesis_id
    where sid = #{sid,jdbcType=INTEGER}
  </select>



  <select id="getThesisList" resultMap="BaseResultMap">
    select id,name,title,description,thesis.type,thesis.tid
    from thesis  join teacher on thesis.tid = teacher.tid
    where selected is true
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from thesis
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.dutyujm.pojo.Thesis">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into thesis (id, title, description, 
      type, selected, tid, start_time, 
      end_time)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{selected,jdbcType=BIT}, #{tid,jdbcType=INTEGER}, #{startTime,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.dutyujm.pojo.Thesis">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into thesis
    <trim prefix="(" suffix=")" suffixOverrides=",">
      id,
      <if test="title != null">
        title,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="selected != null">
        selected,
      </if>
      <if test="tid != null">
        tid,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{id,jdbcType=INTEGER},
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="selected != null">
        #{selected,jdbcType=BIT},
      </if>
      <if test="tid != null">
        #{tid,jdbcType=INTEGER},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.dutyujm.pojo.Thesis">
    update thesis
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="selected != null">
        selected = #{selected,jdbcType=BIT},
      </if>
      <if test="tid != null">
        tid = #{tid,jdbcType=INTEGER},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.dutyujm.pojo.Thesis">
    update thesis
    set title = #{title,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      selected = #{selected,jdbcType=BIT},
      tid = #{tid,jdbcType=INTEGER},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>